.material-icons{
    font-size:13px;
    margin-top:10px;
}
#benefits{
    color:blue;
}
.btn-danger{
    margin-bottom: 2px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    color: white;
}
.col
{
    margin-bottom: 5px;
}

.text-muted{
    font-size:10px;
}
#Burger-delivery{
display:none;
}
#Pizza-delivery{
    display:none;
    }
#FrenchFries-delivery{
        display:none;
        }
