#navbar{
    background-color:red;
    color:#fff;
}
.logo-name{
    float:left;
    color:rgb(189, 190, 192);
    margin-left: 30px;
    margin-top:25px;
}

p{
    font-weight: bold;
    text-align: center;
}

#container-fluid{
    background-image:"https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bW92aWV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60";
}

#free-delivery{
    margin: 20px 10px 20px 10px;
    padding: 15px 20px 15px 20px;
}
.material-icons{
    font-size:13px;
    margin-top:10px;
}

.btn-danger{
    margin-bottom: 2px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    color: white;
}

.text-muted{
    font-size:10px;
}
#Burger-delivery{
display:none;
}

#Pizza-delivery{
    display:none;
    }
	
#FrenchFries-delivery{
        display:none;
		
        }
		
footer{
	margin-top:100px;
}
